@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .project-button {
    @apply flex w-14 h-14 md:w-16 md:h-16 mx-2 md:mx-4
    rounded-3xl flex-col items-center
    justify-center hover:scale-110 border-2
    cursor-pointer;
  }
}
