body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root,
#root > div {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  background-color: #f1f5f900;
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  /* background: #064e3b80; */
  border-radius: 1rem;
  background: #f8fafc;
}

* {
  -webkit-tap-highlight-color: transparent;
}

#root > div {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: linear-gradient(#121218, #28313c);
}

Canvas {
  pointer-events: none;
}
